USE [master]
GO
/****** Object:  Database [IDP-JobManager]    Script Date: 2017/7/10 4:11:44 ******/
CREATE DATABASE [IDP-JobManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IDP-JobManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\IDP-JobManager.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IDP-JobManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\IDP-JobManager_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IDP-JobManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IDP-JobManager]
GO
/****** Object:  Table [dbo].[T_API]    Script Date: 2017/7/10 4:11:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_API](
	[ID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_T_API] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Job]    Script Date: 2017/7/10 4:11:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Job](
	[ID] [uniqueidentifier] NOT NULL,
	[JobName] [nvarchar](300) NULL,
	[JobGroup] [nvarchar](50) NULL,
	[JobParam] [nvarchar](max) NULL,
	[CronExpression] [nvarchar](200) NULL,
	[AssemblyName] [nvarchar](150) NULL,
	[ClassName] [nvarchar](150) NULL,
	[StartTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
	[Status] [int] NULL,
	[IsDelete] [int] NULL,
	[CreatedTime] [datetime] NULL,
	[ModifyTime] [datetime] NULL,
	[RecentRunTime] [datetime] NULL,
	[NextFireTime] [datetime] NULL,
	[CronRemark] [nvarchar](300) NULL,
	[Remark] [nvarchar](1000) NULL,
 CONSTRAINT [PK__T_Job__3214EC2733BFBB80] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_JobDependency]    Script Date: 2017/7/10 4:11:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_JobDependency](
	[ID] [uniqueidentifier] NOT NULL,
	[JobID] [uniqueidentifier] NOT NULL,
	[DependentJobID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_T_JobDependency] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_JobPerformance]    Script Date: 2017/7/10 4:11:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_JobPerformance](
	[ID] [uniqueidentifier] NOT NULL,
	[JobName] [nvarchar](100) NOT NULL,
	[JobGroup] [nvarchar](100) NULL,
	[StartTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
	[Interval] [decimal](18, 0) NULL,
	[CPU] [decimal](18, 6) NULL,
	[Memory] [decimal](18, 6) NULL,
	[CreateTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_T_JobPerformance] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[T_Job] ([ID], [JobName], [JobGroup], [JobParam], [CronExpression], [AssemblyName], [ClassName], [StartTime], [EndTime], [Status], [IsDelete], [CreatedTime], [ModifyTime], [RecentRunTime], [NextFireTime], [CronRemark], [Remark]) VALUES (N'447a9dee-c347-4a60-9a5b-421ed8aab250', N'12', NULL, NULL, N'45', N'23', N'34', CAST(0x070000000000FE3C0B AS DateTime2), CAST(0x070000000000043D0B AS DateTime2), 0, 1, CAST(0x0000A7A9017F50D8 AS DateTime), CAST(0x0000A7A9017F94D1 AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[T_Job] ([ID], [JobName], [JobGroup], [JobParam], [CronExpression], [AssemblyName], [ClassName], [StartTime], [EndTime], [Status], [IsDelete], [CreatedTime], [ModifyTime], [RecentRunTime], [NextFireTime], [CronRemark], [Remark]) VALUES (N'5fbaa648-d1e8-e511-b79d-54ee75868d11', N'HelloJob12', NULL, NULL, N'0/3 * * * *？', N'IDPJobManager.Jobs', N'IDPJobManager.Jobs.HelloJob12', CAST(0x070000000000493C0B AS DateTime2), CAST(0x070000000000B63D0B AS DateTime2), 0, 0, CAST(0x0000A5F300000000 AS DateTime), CAST(0x0000A5F300000000 AS DateTime), NULL, NULL, N'每10秒运行一次', NULL)
INSERT [dbo].[T_JobDependency] ([ID], [JobID], [DependentJobID]) VALUES (N'ac5e966d-e19d-4ae0-bd7d-113b7eaa65da', N'5fbaa648-d1e8-e511-b79d-54ee75868d10', N'5fbaa648-d1e8-e511-b79d-54ee75868db1')
INSERT [dbo].[T_JobPerformance] ([ID], [JobName], [JobGroup], [StartTime], [EndTime], [Interval], [CPU], [Memory], [CreateTime]) VALUES (N'4341307b-10cd-4fe7-a5e6-008c8e7ff47b', N'HelloJob', N'Hello', CAST(0x07C0D7EE6019073D0B AS DateTime2), CAST(0x07904DF06019073D0B AS DateTime2), NULL, CAST(1.540000 AS Decimal(18, 6)), CAST(0.000000 AS Decimal(18, 6)), CAST(0x07904DF06019073D0B AS DateTime2))
INSERT [dbo].[T_JobPerformance] ([ID], [JobName], [JobGroup], [StartTime], [EndTime], [Interval], [CPU], [Memory], [CreateTime]) VALUES (N'ebdf2653-27a8-4e67-a8cb-01a2f89856aa', N'HelloJob4', N'Hello', CAST(0x07639115C21F073D0B AS DateTime2), CAST(0x07C07718C21F073D0B AS DateTime2), NULL, CAST(5.890000 AS Decimal(18, 6)), CAST(0.070000 AS Decimal(18, 6)), CAST(0x07C07718C21F073D0B AS DateTime2))
INSERT [dbo].[T_JobPerformance] ([ID], [JobName], [JobGroup], [StartTime], [EndTime], [Interval], [CPU], [Memory], [CreateTime]) VALUES (N'28013978-0fe2-4618-b42d-0234339f5d15', N'HelloJob4', N'Hello', CAST(0x07F11B859C19073D0B AS DateTime2), CAST(0x075C07869C19073D0B AS DateTime2), NULL, CAST(2.340000 AS Decimal(18, 6)), CAST(0.060000 AS Decimal(18, 6)), CAST(0x07A22E869C19073D0B AS DateTime2))
GO
ALTER TABLE [dbo].[T_JobDependency] ADD  CONSTRAINT [DF_T_JobDependency_ID]  DEFAULT (newid()) FOR [ID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job', @level2type=N'COLUMN',@level2name=N'JobName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务参数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job', @level2type=N'COLUMN',@level2name=N'JobParam'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务运行Cron表达式' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job', @level2type=N'COLUMN',@level2name=N'CronExpression'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'程序集名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job', @level2type=N'COLUMN',@level2name=N'AssemblyName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务所在类包含命名空间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job', @level2type=N'COLUMN',@level2name=N'ClassName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'开始时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job', @level2type=N'COLUMN',@level2name=N'StartTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'结束时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job', @level2type=N'COLUMN',@level2name=N'EndTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务运行状态    1:运行 0:停止 -1:删除 2为暂停' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job', @level2type=N'COLUMN',@level2name=N'CreatedTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job', @level2type=N'COLUMN',@level2name=N'ModifyTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最近运行时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job', @level2type=N'COLUMN',@level2name=N'RecentRunTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'下次运行时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job', @level2type=N'COLUMN',@level2name=N'NextFireTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'表达式中文说明' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job', @level2type=N'COLUMN',@level2name=N'CronRemark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Job'
GO
USE [master]
GO
