@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.Title = "Job List";
}
@section Style{
    <link href="~/Content/Styles/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" />
    <link href="~/Content/Styles/vue-bootstrap-modal.css" rel="stylesheet" />
    <style type="text/css">
        .required-tip {
            color: red;
            margin-left: 0.25rem;
        }

        .tip {
            color: #d9534f;
        }
    </style>
}
<div class="row">
    <div class="col-md-3">
        <label class="col-md-4 control-label" for="ds_host">Job Name</label>
        <div class="col-md-8">
            <input class="form-control" id="ds_host" type="text" placeholder="Please input job name" v-model="JobName" />
        </div>
    </div>
    <div class="col-md-3">
        <label class="col-md-4 control-label" for="ds_host">Job Group</label>
        <div class="col-md-8">
            <input class="form-control" id="ds_host" type="text" placeholder="Please input job group" v-model="JobGroup" />
        </div>
    </div>
    <div class="col-md-5">
        <label class="col-md-1 control-label" for="dtStart">Create Time</label>
        <div class="col-md-5">
            <div class='input-group date form_dateperiod' id='dtStart'>
                <input type='text' class="form-control" v-model="StartDate" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <label class="col-md-1 control-label" style="width:10px;">-</label>
        <div class="col-md-5">
            <div class='input-group date form_dateperiod' id='dtEnd'>
                <input type='text' class="form-control" v-model="EndDate" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" id="btn_search" v-on:click="searchJobs($event)">Search</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="app-toolbar">
            <button class="btn btn-default btn-sm" id="btn_Add" v-on:click="AddJob">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </button>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Job List</div>
            <table class="table table-bordered table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th v-for="colHeader in colHeaders" v-on:click="sortBy(colHeader)" class="text-center" :class="{ active: sortKey == colHeader.name }">{{colHeader.label}}<span v-if="changeSortable(colHeader.sortable)" class="arrow" :class="sortOrders[colHeader.name] > 0 ? 'asc' : 'desc'"></span></th>
                        <th class="text-center">Operation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in items">
                        <td>{{item.JobName}}</td>
                        <td>{{item.JobGroup}}</td>
                        <td><span v-show="item.Status == 1" class="label label-success">Start</span><span v-show="item.Status == 0" class="label label-warning">Stop</span></td>
                        <td>{{item.AssemblyName}}</td>
                        <td>{{item.ClassName}}</td>
                        <td>{{item.CronExpression}}</td>
                        <td>{{item.StartTimeString}}</td>
                        <td>{{item.EndTimeString}}</td>
                        <td>
                            <a v-show="item.Status == 0" href="javascript:void(0)" v-on:click="startJob(item.ID,index,$event)" title="Start"><i class="glyphicon glyphicon-play"></i></a>
                            <a v-show="item.Status == 1" href="javascript:void(0)" v-on:click="stopJob(item.ID,index,$event)" title="Stop"><i class="glyphicon glyphicon-stop"></i></a>
                            <a href="javascript:void(0)" title="Dependency Configuration" v-on:click="configurateDependency(item.ID,$event)"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="javascript:void(0)" title="Edit" v-on:click="editJob(item.ID,$event)"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="javascript:void(0)" title="Delete" v-on:click="deleteJob(item.ID,$event)"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                    <tr v-if="items.length == 0">
                        <td :colspan="colHeaders.length + 1" class="text-center">No Data</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <vb-pager v-on:page-changed="pageChanged" v-on:page-size-changed="pageSizeChanged" :page-current="pageCurrent" :page-size="pageSize" :page-size-list="pageSizeList" :total-count="totalCount"></vb-pager>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!--custom content-->
<vb-modal v-show="showAddOrEditModel" v-on:close="showAddOrEditModel = false" style="display:none;">
    <h3 slot="header">{{Model.ID != '' ? 'Edit' : 'Add'}}</h3>
    <div id="divEdit" slot="body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-4">Job Name<span class="required-tip">*</span></label>
                <div class="col-md-6">
                    <input class="form-control" type="text" v-model="Model.JobName" v-on:input="beRequired('JobName')" v-on:blur="beRequired('JobName')"/>
                </div>
                <span class="tip">{{validation.JobName}}</span>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Job Group</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" v-model="Model.JobGroup" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Assembly Name<span class="required-tip">*</span></label>
                <div class="col-md-6">
                    <input class="form-control" type="text" v-model="Model.AssemblyName" v-on:input="beRequired('AssemblyName')" v-on:blur="beRequired('AssemblyName')"/>
                </div>
                <span class="tip">{{validation.AssemblyName}}</span>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Class Name<span class="required-tip">*</span></label>
                <div class="col-md-6">
                    <input class="form-control" type="text" v-model="Model.ClassName" v-on:input="beRequired('ClassName')" v-on:blur="beRequired('ClassName')"/>
                </div>
                <span class="tip">{{validation.ClassName}}</span>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Cron Expression<span class="required-tip">*</span></label>
                <div class="col-md-6">
                    <input class="form-control" type="text" v-model="Model.CronExpression" v-on:input="beRequired('CronExpression')" v-on:blur="beRequired('CronExpression')"/>
                </div>
                <span class="tip">{{validation.CronExpression}}</span>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Start Time</label>
                <div class="col-md-6">
                    <div class="input-group date form_dateperiod" id="dtModelStartTime">
                        <input type=text class="form-control" v-model="Model.StartTimeString" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">End Time</label>
                <div class="col-md-6">
                    <div class="input-group date form_dateperiod" id="dtModelEndTime">
                        <input type=text class="form-control" v-model="Model.EndTimeString" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span slot="footer">
        <button type="button" class="btn btn-default" v-on:click="showAddOrEditModel = false">Cancel</button>
        <button type="button" class="btn btn-primary" :class="{'disabled' : beforeFirstValidation || !valid}" v-on:click="SaveJob($event)">Save</button>
    </span>
</vb-modal>
<!-- /Edit -->
<vb-modal v-show="showConfigModel" v-on:close="showConfigModel = false" style="display:none;">
    <h3 slot="header">Dependency Configuration</h3>
    <div slot="body">
        <div class="row">
            <div class="col-xs-5">
                <select name="from" id="multiselect" v-model="selectedDependableJobList" class="form-control" size="10" multiple="multiple">
                    <option v-for="(dj,index) in dependableJobList" v-bind:value="dj.ID" v-on:dblclick="addJobDependency(index)">{{dj.JobName}}</option>
                </select>
            </div>

            <div class="col-xs-2">
                <button type="button" id="multiselect_rightAll" class="btn btn-block" v-on:click="addMultiJobDependency(dependableJobList, true)"><i class="glyphicon glyphicon-forward"></i></button>
                <button type="button" id="multiselect_rightSelected" class="btn btn-block" v-on:click="addMultiJobDependency(selectedDependableJobList, false)"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button type="button" id="multiselect_leftSelected" class="btn btn-block" v-on:click="deleteMultiJobDependency(addedDependableJobList, false)"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button type="button" id="multiselect_leftAll" class="btn btn-block" v-on:click="deleteMultiJobDependency(dependentJobList, true)"><i class="glyphicon glyphicon-backward"></i></button>
            </div>

            <div class="col-xs-5">
                <select name="to" id="multiselect_to" v-model="addedDependableJobList" class="form-control" size="10" multiple="multiple">
                    <option v-for="(dj,index) in dependentJobList" v-bind:value="dj.ID" v-on:dblclick="deleteJobDependency(index)">{{dj.JobName}}</option>
                </select>
            </div>
        </div>
    </div>
    <span slot="footer">
        <button type="button" class="btn btn-default" v-on:click="showConfigModel = false">Cancel</button>
        <button type="button" class="btn btn-primary" v-on:click="SaveJobDependency($event)">Save</button>
    </span>
</vb-modal>

@section Scripts{
    <script src="~/Content/Scripts/moment-with-locales.js"></script>
    <script src="~/Content/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/Scripts/vue-bootstrap-pager.js"></script>
    <script src="~/Content/Scripts/vue-bootstrap-modal.js"></script>
    <script src="~/Content/Scripts/Job/List.js"></script>
}
