@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.Title = "Job List";
}
@section Style{
    @*<link href="/Content/Styles/jqgrid/ui.jqgrid.css" rel="stylesheet"/>*@
    <link href="/Content/Styles/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" />
}

<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" role="form">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="ds_host">Job Name</label>
                    <div class="col-sm-3">
                        <input class="form-control" id="ds_host" type="text" placeholder="Please input job name" v-model="JobName" />
                    </div>
                    <label class="col-sm-2 control-label" style="width:120px" for="dtStart">Create Time</label>
                    <div class="col-sm-2" style="width:240px;">
                        <div class='input-group date form_dateperiod' id='dtStart'>
                            <input type='text' class="form-control" v-model="StartDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <label class="col-sm-1 control-label" style="width:10px;">-</label>
                    <div class="col-sm-2" style="width:240px;">
                        <div class='input-group date form_dateperiod' id='dtEnd'>
                            <input type='text' class="form-control" v-model="EndDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-primary" id="btn_search" v-on:click="searchJobs($event)">Search</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="app-toolbar">
            <button class="btn btn-white btn-sm" id="btn_Add"><span class="fa fa-plus"></span>Add</button>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Job List
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center table-hover">
                        <thead>
                            <tr>
                                <th>Job Name</th>
                                <th>Status</th>
                                <th>Assembly Name</th>
                                <th>Class Name</th>
                                <th>Cron Expression</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="(row, index) in Rows">
                                <tr v-if="index>=(Page-1)*Take&&index<Page*Take">
                                    <td>{{row.JobName}}</td>
                                    <td><span v-show="row.Status == 1" class="label label-success">Start</span><span v-show="row.Status == 0" class="label label-warning">Stop</span></td>
                                    <td>{{row.AssemblyName}}</td>
                                    <td>{{row.ClassName}}</td>
                                    <td>{{row.CronExpression}}</td>
                                    <td>{{row.StartTime}}</td>
                                    <td>{{row.EndTime}}</td>
                                    <td>
                                        <a v-show="row.Status == 0" href="javascript:void(0)" v-on:click="startJob(row.ID,index,$event)" title="Start"><i class="glyphicon glyphicon-play"></i></a>
                                        @*<a :href="'/Job/Pause/' + row.ID" title="Pause"><i class="glyphicon glyphicon-pause"></i></a>*@
                                        <a v-show="row.Status == 1" href="javascript:void(0)" v-on:click="stopJob(row.ID,index,$event)" title="Stop"><i class="glyphicon glyphicon-stop"></i></a>
                                        <a href="javascript:void(0)" title="Edit" v-on:click="editJob(row.ID,$event)"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a href="javascript:void(0)" title="Delete" v-on:click="deleteJob(row.ID,$event)"><i class="glyphicon glyphicon-remove"></i></a>
                                    </td>
                                </tr>
                            </template>
                            <template v-if="Rows.length == 0">
                                <tr>
                                    <td colspan="8">No data</td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
                <nav style="float:right;">
                    <ul class="pagination pagination-lg">
                        <template v-for="pageIndex in Math.ceil(Rows.length/Take)">
                            <li v-on:click="PrePage()" id="prepage" v-if="pageIndex==1" class="disabled"><a href="#">上一页</a></li>
                            <li v-if="pageIndex==1" class="active" v-on:click="NumPage(pageIndex, $event)"><a href="#">{{pageIndex}}</a></li>
                            <li v-else v-on:click="NumPage(pageIndex, $event)"><a href="#">{{pageIndex}}</a></li>
                            <li id="nextpage" v-on:click="NextPage()" v-if="pageIndex==Math.ceil(Rows.length/Take)"><a href="#">下一页</a></li>
                        </template>
                    </ul>
                </nav>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /Edit -->
<div id="divEdit">
    <div class="form-horizontal">
        <div class="form-group">

            <label class="control-label col-sm-4">Job Name</label>
            <div class="col-sm-6">

                <input class="form-control" type="text" v-model="EditModel.JobName" />
            </div>
        </div>
        <div class="form-group">

            <label class="control-label col-sm-4">Assembly Name</label>
            <div class="col-sm-6">

                <input class="form-control" type="text" v-model="EditModel.AssemblyName" />
            </div>
        </div>
        <div class="form-group">

            <label class="control-label col-sm-4">Class Name</label>
            <div class="col-sm-6">

                <input class="form-control" type="text" v-model="EditModel.ClassName" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Cron Expression</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" v-model="EditModel.CronExpression" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Start Time</label>
            <div class="col-sm-6">
                <div class=input-group date form_dateperiod>
                    <input type=text class="form-control" v-model="EditModel.StartTime" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">End Time</label>
            <div class="col-sm-6">
                <div class=input-group date form_dateperiod>
                    <input type=text class="form-control" v-model="EditModel.EndTime" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Status</label>
            <div class="col-sm-6">
                <label class="radio-inline">
                    <input type="radio" value="0"> Stop
                </label>
                <label class="radio-inline">
                    <input type="radio" value="1"> Start
                </label>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Content/Scripts/moment-with-locales.js"></script>
    <script src="/Content/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">

        function initDateTimePicker() {
            $('#dtStart').datetimepicker({
                format: 'YYYY-MM-DD'
            });
            $('#dtEnd').datetimepicker({
                format: 'YYYY-MM-DD',
                useCurrent: false //Important! See issue #1075
            });
            $("#dtStart").on("dp.change", function (e) {
                $('#dtEnd').data("DateTimePicker").minDate(e.date);
            });
            $("#dtEnd").on("dp.change", function (e) {
                $('#dtStart').data("DateTimePicker").maxDate(e.date);
            });
        }

        function initEditDateTimePicker() {

        }

        //Model
        var d = {
            Rows: [],
            Page: 1,//当前页的页码
            Take: 10,
            JobName: '',
            StartDate: '',
            EndDate: '',
            EditModel: {
                ID: '',
                JobName: '',
                AssemblyName: '',
                ClassName: '',
                CronExpression: '',
                StartTime: '',
                EndTime: ''
            }
        };

        var vm = new Vue({
            el: "#container",
            mounted: function () {
                initDateTimePicker();
            },
            data: d,
            methods: {
                searchJobs: function (event) {
                    var that = this;
                    $.ajax({
                        url: '/Job/GetJobList/',
                        data: d,
                        type: 'GET',
                        dataType: 'json',
                        success: function (result) {
                            if (result) {
                                that.Rows = result.Jobs;
                            }
                        }
                    });
                    if (event) event.preventDefault();
                },
                startJob: function (id, i, event) {
                    var that = this;
                    $.ajax({
                        url: '/Job/Start/',
                        data: { "ID": id },
                        type: 'POST',
                        dataType: 'json',
                        success: function (result) {
                            if (result && result.success) {
                                that.Rows[i].Status = 1;
                            }
                        }
                    });
                    event.preventDefault();
                },
                stopJob: function (id, i, event) {
                    var that = this;
                    $.ajax({
                        url: '/Job/Stop/',
                        data: { "ID": id },
                        type: 'POST',
                        dataType: 'json',
                        success: function (result) {
                            if (result && result.success) {
                                that.Rows[i].Status = 0;
                            }
                        }
                    });
                    event.preventDefault();
                },
                deleteJob: function (id, event) {
                    var that = this;
                    BootstrapDialog.confirm('Are you sure to delete this job?', function (result) {
                        if (result) {
                            $.post('/Job/Delete/', { "ID": id }, function (data) {
                                if (data) {
                                    if (data.success === true) {
                                        that.searchJobs();
                                    }
                                    else {
                                        BootstrapDialog.show({
                                            title: 'Delete Job Error',
                                            message: data.message.toString()
                                        });
                                    }
                                }

                            });
                        }
                    });
                },
                editJob: function (id, event) {
                    var that = this;
                    $.get('/Job/Get/', { "ID": id }, function (data) {
                        if (data && data.success === true) {
                            that.EditModel = data.model;
                            BootstrapDialog.show({
                                title: 'Edit Job',
                                message: $('<div></div>').html($('#divEdit').html()),
                                draggable: true,
                                buttons: [{
                                    label: 'Cancel',
                                    action: function (dialog) {
                                        dialog.close();
                                    }
                                }, {
                                    label: 'OK',
                                    cssClass: 'btn-primary active',
                                    hotkey: 13,
                                    action: function (dialog) {
                                        dialog.setTitle('Title 2');
                                    }
                                }]
                            });
                        }
                    });
                    event.preventDefault();
                },
                //上一页方法
                PrePage: function (event) {
                    $(".pagination .active").prev().trigger("click");
                },
                //下一页方法
                NextPage: function (event) {
                    $(".pagination .active").next().trigger("click");
                },
                //点击页码的方法
                NumPage: function (num, event) {
                    if (this.Page == num) {
                        return;
                    }
                    this.Page = num;
                    $(".pagination li").removeClass("active");
                    if (event.target.tagName.toUpperCase() == "LI") {
                        $(event.target).addClass("active");
                    }
                    else {
                        $(event.target).parent().addClass("active");
                    }
                    if (this.Page == 1) {
                        $("#prepage").addClass("disabled");
                    }
                    else {
                        $("#prepage").removeClass("disabled");
                    }
                    if (this.Page == Math.ceil(this.Rows.length / this.Take)) {
                        $("#nextpage").addClass("disabled");
                    }
                    else {
                        $("#nextpage").removeClass("disabled");
                    }
                }
            }
        });
        vm.searchJobs();

    </script>
}
